
GitLfsAuto/dist/GitLfsAuto.exe
GitLfsAuto/dist/app.log
GitLfsAuto/build/GitLfsAuto/xref-GitLfsAuto.html
GitLfsAuto/build/GitLfsAuto/warn-GitLfsAuto.txt
GitLfsAuto/build/GitLfsAuto/PYZ-00.toc
GitLfsAuto/build/GitLfsAuto/PYZ-00.pyz
GitLfsAuto/build/GitLfsAuto/PKG-00.toc
GitLfsAuto/build/GitLfsAuto/localpycs/struct.pyc
GitLfsAuto/build/GitLfsAuto/localpycs/pyimod04_pywin32.pyc
GitLfsAuto/build/GitLfsAuto/localpycs/pyimod03_ctypes.pyc
GitLfsAuto/build/GitLfsAuto/localpycs/pyimod02_importers.pyc
GitLfsAuto/build/GitLfsAuto/localpycs/pyimod01_archive.pyc
GitLfsAuto/build/GitLfsAuto/GitLfsAuto.pkg
GitLfsAuto/build/GitLfsAuto/EXE-00.toc
GitLfsAuto/build/GitLfsAuto/base_library.zip
GitLfsAuto/build/GitLfsAuto/Analysis-00.toc
GitLfsAuto/.vs/GitLfsAuto/v17/DocumentLayout.json
GitLfsAuto/.vs/GitLfsAuto/v17/.suo
GitLfsAuto/.vs/GitLfsAuto/FileContentIndex/8ac0da85-35b5-4cd6-8e16-0039addef178.vsidx
GitLfsAuto/.vs/GitLfsAuto/FileContentIndex/78896613-bd8b-42e0-ba69-3413fe526e30.vsidx
GitLfsAuto/.vs/GitLfsAuto/FileContentIndex/417b8639-9d54-49e8-8d18-18371ac945c7.vsidx
GitLfsAuto/.vs/GitLfsAuto/FileContentIndex/17b7e561-3956-49a6-89b9-84782c05df2d.vsidx
